<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Lista de Livros</title>
</head>
<body>

<h3 layout:fragment="header">
	<a th:href="@{/livros/novo}"  class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i></a>Livros
</h3>

	<div layout:fragment="content" class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>Foto</td>
				<td>Título</td>
				<td>Quantidade</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${livros.empty}">
				<td colspan="2">Sem livros</td>
			</tr>

			<tr th:each="livro : ${livros}">
							
				<td th:text="${livro.id}">1</td>
				<th scope="row"><img th:if="${livro.foto}" th:src="@{'/' + ${livro.foto}}" width="100px" />
				<img th:unless="${livro.foto}" th:src="@{'../img/error.png'}" width="30px" />
				</th>
				<td><a href="#" th:href="@{'/livros/'+${livro.id}}" th:text="${livro.titulo}"> Título </a></td>
				<td><a href="#" th:href="@{'/livros/'+${livro.id}}" th:text="${livro.quantidade}"> Quantidade </a></td>
				<td><a href="#" th:href="@{'/livros/alterar/'+${livro.id}}" > Alterar </a></td>				
				<td><a href="#" th:href="@{'/livros/excluir/'+${livro.id}}" > Excluir </a>
				</td>
				
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>
